@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Varela+Round&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;

}

